meyer-reset()
box-sizing-reset()
normalize()

html
	font-size 10px
body
	font-family sans-serif
	margin 0
	padding 0
	font-size 16px

.container
	width 100%
	clearfix()

table.list-table
	width 100%
	thead > tr
		background-color #6E267A
		color #fff
		th
			padding .5rem 0
	tbody > tr
		border solid .1rem #EBEBEB
		&:nth-child(even)
			background-color #F8F8F8
		td
			border-left solid .1rem #dddddd
			div
				padding .2rem 1rem
				min-height 1rem
				vertical-alilgn middle

.new-item-form
	margin 3rem auto
	max-width 40rem
	.form-group
		padding .5rem 0
		label
			display inline-block
			vertical-align top
			min-width 12rem
		input, textarea
			width 20rem
